root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]                              # 对所有的 js 文件生效
quote_type = single                 # 字符串使用单引号
